[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
google-auth = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
uuid7 = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.11"
