[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
google-auth = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
uuid7 = "*"
# TODO: figure out if we still need this?
pyjwt = {extras = ["crypto"], version = "*"}
requests = "*"
gunicorn = "*"
flask-seasurf = {ref = "f383b482c69e0b0e8064a8eb89305cea3826a7b6", git = "git+https://github.com/maxcountryman/flask-seasurf"}
alembic = "*"
authlib = "*"
pymysql = "*"
minio = "*"
celery = {extras = ["redis"], version = "*"}
mutagen = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.12"

[scripts]
worker = "pipenv run python -m celery -A rainfall.main worker -l info"
